@*@model OTP.Models.UserDetails*@
@{
    ViewData["Title"] = "OTP Page";
}

<div class="text-center col-6 mx-auto">
    <h1 class="display-4">OTP Generator</h1>

@*    <form id="account" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="@Model.UserId" class="form-label mb-2"></label>
            <input asp-for="@Model.UserId" class="form-control" />
            <span asp-validation-for="@Model.UserId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="@Model.Data" class="form-label mb-2"></label>
            <input asp-for="@Model.Data" class="form-control" />
            <span asp-validation-for="@Model.Data" class="text-danger"></span>
        </div>
        <div>
            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary mb-3">Generate OTP</button>
        </div>
</form>*@

</div>


@*@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    }*@